/ProgramacionAvanzada/build/
/AvanzadaServidor/nbproject/private/
/AvanzadaCapaModelo/build/
/AvanzadaServidor/build/
/AvanzadaCapaNegocio/build/
/ConjuntaAvanzada/nbproject/private/
/ComponenteUC/nbproject/private/
/ComponenteBM/nbproject/private/
/AvanzadaCapaModelo/dist/
/AvanzadaCapaNegocio/dist/